body{
    background-color: #efefef
}
 #tieude {
         font-size: 200%;
         padding-top: 10px;
     }
#menu{
    background-color: #4b4b4b;
     border: none;
    color: white;
}
h1,h2 {
    text-align:center;
    font:Arial;
    color: #4f4f4f;
}
#but{
    background-color: #398adc;
    border: #398adc;
    padding:10px;
    color: white;
    margin-left: 40%;
    font-size: 70%;
}
h4{
    text-align: center;
}
 #widget{
     background-color: #f9f9f9;
     padding-top: 10px;
     padding-bottom:5px ;
     padding-left: 5px;
     padding-right: 5px;
     text-align: center;
 }
 #image{
     width: 20px;
     height: 20px;
     float: right;
     margin: 2px;

 }
